*{
    margin: 0;
    padding: 0;

    font-family: 'Abhaya Libre', serif;
    box-sizing: border-box;
}

body{
    background-color: rgb(0,0,0,0.8);
}

/* NAVBAR */

.navbar{
    width: 178px;
    top: 0;
    bottom: 0;
    position: fixed;
    border: black 1.2px solid;
}

.imgLogo img{
    width: 45px;
    border-radius: 50%;
    position: relative;
    margin-top: 35px;
    margin-left: 23px;
}

.lingkaran{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: black 1px solid;
    position: relative;
    margin-top: -54px;
    margin-left: 18px;
}

.barcode img{
    width: 60px;
    position: absolute;
    margin-left: 78px;
    margin-top: -43px;
}

.svgHome{
    margin-left: 20px;
    margin-top: 30px;
    position: relative;
}

.textHome{
    color: #E8993B;
    position: relative;
    margin-left: 63px;
    margin-top: -25px;
}

.svgSignUp{
    margin-left: 20px;
    margin-top: 30px;
    position: relative;
}

.textSignUp{
    color: #E2E2E2;
    position: relative;
    margin-left: 63px;
    margin-top: -25px;
}

.svgHistory{
    margin-left: 20px;
    margin-top: 30px;
    position: relative;
}

.textHistory{
    color: #E2E2E2;
    position: relative;
    margin-left: 63px;
    margin-top: -25px;
}

.svgSavedSongs{
    margin-left: 24px;
    margin-top: 30px;
    position: relative;
}

.textSavedSongs{
    color: #E2E2E2;
    position: relative;
    margin-left: 63px;
    margin-top: -25px;
}

.signUp{
    margin-top: -5px;
}

.history{
    margin-top: -5px;
}

.savedSongs{
    margin-top: -5px;
}

.navbarBawah {
    justify-content: space-around;
    margin-bottom: 0px;
    border: red solid 1px;
    bottom: 0;
}

.fotoNavbarBawah {
    display: flex;
    margin-bottom: 5px;
}

.fotoNavbarBawah img{
    width: 130px;
    margin: auto;
}

.sound {
    display: flex;
    /* background-color: green; */
    justify-content:space-evenly;
}

/* SLIDER */

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    border-radius: 5px;  
    background: #C2B5B5;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    background: #CD8C5A;
    border: black 1px solid;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #CD8C5A;
    border: black 1px solid;
    cursor: pointer;
}

/* FOR YOU */

.divForYou{
    height: auto;
    position: relative;
    padding: 30px;
    display: flex;
    flex-direction: column;
    width: fit-content;
}

/* FOU YOU TXT */


.textForYou{
    color: #FFFFFF;
    font-size: 100px;
    font-weight: bold;
    margin-left: 3%;
    margin-bottom: 20px;
}

/* SONG LISTS */

.kumpulanLagu{
    padding: 10px;
}

button{
    text-decoration: none;
    background: none;
    border: none;
    padding: 0;
    margin-right: 16px;
    margin-bottom: 12px;
    width: 13%;
    min-width: 180px;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button :hover .kotakLagu {
    transition: .3s ease-in;
    background-color: #434343;
    border: 2px solid #C2B5B5;
}

button :hover .judulLagu {
    transition: .3s ease-in;
    color: #C2B5B5;
}

button :hover .penyanyiLagu {
    transition: .3s ease-in;
    color: #C2B5B5;
}

.kotakLagu{
    transition: .4s ease-out;
    background-color: #C2B5B5;
    /* width: 180px; */
    /* width: 100%; */
    height: auto;
    border-radius: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    /* padding-right: 15px; */
}

.fotoLagu img{
    /* width: 155px; */
    max-height: 155px;
    width: 90%;
    border-radius: 10px;
    object-fit: cover;
}

.judulLagu{
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin-top: 5px;
}

.penyanyiLagu{
    font-size: 14px;
    text-align: center;
}

.num{
    color: black;
    display: none;
}

.final{
    color: black;
    display: none;
}

/* FOOTER */

.footer{
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #B1B0B0;
    height: 200px;
    position: relative;
    right: 0;
    border-radius: 15px 15px 0 0;
}

hr{
    background-color: black;
    border: 0.1px solid black;
    width: 42%;
    height: 1px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

.kumpulanLogo{
    display: flex;
    margin-top: 23px;
    width: 200px;
}

.footerAtas{
    display: flex;
}

.facebookSvg{
    margin: auto;
}

.twitterSvg{
    margin: auto;
}

.googleSvg{
    margin: auto;
}

.instagramSvg{
    margin: auto;
}

.copyrightText{
    color: #434343;
    font-size: 13px;
    opacity: 62%;
    text-align: center;
    margin-top: 15px;
}

.imgLogo2 img{
    width: 45px;
    border-radius: 50%;
    position: relative;
    /* margin-top: 35px; */
    margin-left: 5px;
}

.lingkaran2{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: black 1px solid;
    position: relative;
    margin-top: -54px;
}

.barcode2 img{
    width: 60px;
    position: absolute;
    margin-left: 60px;
    margin-top: -43px;
}

.logo2{
    margin-top: 20px;
    width: 130px;
    margin-left: auto;
    margin-right: auto;
}

/* CURRENTLY PLAYING */

.kotak{
    position: fixed;
    background-color: #434343;
    width: 300px;
    right: 2%;
    bottom: 2%;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    border-radius: 20px;
    height: 300px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* filter: brightness(50%); */
}

#curr_num {
    display: none;
}

/* .tempkotak{
    display: flex;
    justify-content: space-around;
    border: blue solid 5px;
    height: fit-content;
    position: fixed;
    bottom: 0;
    width: auto;
} */

.playlist{
    display: flex;
    max-width: 260px;
    height: fit-content;
    justify-content:space-between;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    background-color: #343434;
    color: #DECBCB;;
}

/* .currplayingtxt{
    color: #DECBCB;;
    margin-right: 10px;
} */

.fotoPlaylist{
    margin-right: 10px;
    margin-top: auto;
    margin-bottom: auto;
    display: none;
}

.fotoPlaylist img{
    width: 50px;
    border-radius: 15px;
}

.singerSong{
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* filter: brightness(2); */
    /* z-index: 2; */
}

#judulPlaylist{
    font-weight: bold;
    width: fit-content;
    font-size:20px;
    text-align: center;
}

#penyanyiPlaylist{
    width: fit-content;
    font-size: 15px;
}

.kumpulanTombol{
    width: 200px;
    display: flex;
    justify-content:space-around;
    margin-right: 20px;
}

.kumpulanTombol svg {
    margin-top: auto;
    margin-bottom: auto;
}

.gotoHome {
    color: white;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 10%;
    background-color: #343434;
}

#gotoPlaylist svg{
    transform: rotate(180deg);
}